body {
  background: #FFFFFF !important;
}

.login-container {
  max-width: 420px;
  margin: 0 auto;
  margin: 0 auto;
}

.login-container .auth-form-group {
  margin-top: 50%;
}

.login-form-button {
  width: 100%;
}

.ant-layout {
  background: #FFFFFF !important;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
  background: #FFFFFF !important;
}

.app-content {
  margin-top: 64px;
}

.app-title {
  float: left;
}

.app-title a {
  text-decoration: none;
  line-height: 64px;
  font-size: 21px;
  display: inline-block;
}

.app-title a:hover {
  text-decoration: none;
}

.app-header {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
  padding: 0;
}

.app-menu {
  float: right;
}

.app-menu>li {
  padding: 0 20px;
}

.app-menu>li>a {
  padding: 0 20px;
  margin: 0 -20px;
}

.app-menu>li>a>i {
  margin-right: 0 !important;
}

.profile-dropdown-menu {
  min-width: 180px;
}

.profile-menu .user-full-name-info {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

.dropdown-item {
  padding: 10px 12px;
}

.dropdown-item a {
  padding: 10px 12px;
  margin: -10px -12px;
}

.nav-icon {
  font-size: 20px;
}

.poll-icon {
  margin-top: -4px;
}

.social-icons{
  margin-top: 4%;
}
.social-icons span {
  margin-right: 2%;
  font-size: 200%;
}

.social-icons .anticon {
  cursor: pointer;
}
