.page-title {
    text-align: center;
    margin-bottom: 35px;
}
.auth-form-group {
  border: 2px solid #ffffff;
  border-radius: 7px;
  padding: 10%;
  background-color: #ffffff;
}

.auth-form-group button {
  background-color: #4CAF50;
  border-color: #4CAF50;
}
.auth-form-group button:hover {
  background-color: #8bc34a;
  border-color: #8bc34a;
}
.auth-form-group button::selection {
  color: #fff;
  background: #cddc39;
}

.auth-form-group button:focus {
  color: #fff;
  background-color: #cddc39;
  border-color: #cddc39;
}

.auth-form-group button[disabled] {
  opacity: 0.6;
  color: #fff;
  background-color: #4CAF50;
  border-color: #4CAF50;
}
.auth-form-group a {
  color: #009688;
}